<% include partials/header %>

<div class="row">
  <div class="my-3 border col-md-3">
    <h4 class="pl-2 pt-2"><strong>접속중인 유저</strong></h4>
    <ul>
      <li>홍길동</li>
    </ul>
  </div>
  <div class="my-3 border col-md-9">
    <div id="chat" class="py-3">
    </div>
    <input type="text" id="chatInput">
    <button onclick="send()">전송하기</button>
  </div>
</div>

<script src="/js/chat.js"></script>

<% include partials/footer %>