<% include partials/header %>

<div class="container-fluid">
  <div id="mainRow" class="row">
    <div class="border col-md-3">
      <div>
        <h4 class="pl-2 pt-4"><strong>접속중인 유저</strong></h4>
        <ul id="userlist">
        </ul>
      </div>
      <div>
        <h4 class="pl-2 pt-4"><strong>대기열</strong></h4>
        <ul>
          <li>Lorem ipsum - dolor sit</li>
        </ul>
      </div>
    </div>
    <div class="px-0 border col-md-9">
      <div id="chat">
      </div>
      <input class="fixed-bottom form-control" type="text" id="chatInput" placeholder="메시지를 입력하세요!">
    </div>
  </div>
</div>

<script src="/js/chat.js"></script>

<% include partials/footer %>