@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');

* {
  font-family: 'Nanum Gothic', sans-serif;
}

#mainRow {
  height: calc(100vh - 72px);
}

ul {
  list-style: none;
}

#chat {
  line-height: 2.5em;
}

.system {
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.connect {
  background-color: rgba(0, 255, 0, 0.45);
}

.disconnect {
  background-color: rgba(255, 0, 0, 0.45);
}

.client {
  padding-left: 5px;
  background-color: rgba(0, 140, 255, 0.45);
}

.client:nth-child(even) {
  background-color: rgba(0, 120, 255, 0.45);
}

.local {
  text-align: right;
  padding-right: 5px;
}