@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');

* {
  font-family: 'Nanum Gothic', sans-serif;
}

ul {
  list-style: none;
}

.system {
  text-align: center;
  font-style: italic;
  font-weight: 700;
}

.connect {
  background-color: rgba(0, 255, 0, 0.5);
}

.disconnect {
  background-color: rgba(255, 0, 0, 0.5);
}

.users {
  background-color: rgba(0, 0, 255, 0.5);
}

.client {
  background-color: rgba(0, 140, 255, 0.5);
  text-align: right;
}