<!DOCTYPE HTML>
<html>

<head>
  <title>Project RUSH - Welcome</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/landing.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <div class="container">
    <div class="title">
      <h1>채팅과 음악을 함께 즐기다.</h1>
      <a href="/chat" class="btn btn-lg btn-primary mt-4">참여하기</a>
    </div>
    
  </div>

<% include partials/footer %>